table{
    border:2px solid black;
    padding:50px;
    margin-top:15%;
    margin-left:25%;
    font-size: 30px;;
    border-radius: 20px;
    background-color: rgb(192, 252, 232);
}
input{
    height:30px;
    width:150px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}